:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    width: max-content;
}

.content {
    padding: 10px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
